@font-face {
  font-family: 'Outfit';
  src: url('../../assets/fonts/outfit/Outfit-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
}

@font-face {
  font-family: 'YoungSerif';
  src: url('../../assets/fonts/young-serif/YoungSerif-Regular.ttf') format('truetype');
  font-weight: 400;
}

$regular: 400;
$bold: 600;
$bolder: 700;
