@import 'colors';
@import 'normalize';
@import 'typography';
@import 'mixins';

body {
  @include flex-center;
  min-height: 100vh;
  flex-direction: column;
  background-color: $eggshell;
}

.container {
  background-color: $white;
  width: 100%;
  max-width: 700px;
  border-radius: 20px;
  margin: 5% 0;
  padding: 2.5em;
  font-family: 'Outfit', sans-serif;
  h1, h2, h3, h4, h5, h6 {
    font-family: 'YoungSerif', serif;
  }

  @media (max-width: 768px) {
    margin: 0;
    border-radius: 0;
  }
}



// Image Styles
img {
  max-width: 100%;
  border-radius: 10px;

  @media (max-width: 768px) {
    margin: -2.5em -2.5em 0 -2.5em;
    max-width: calc(100% + 5em);
    border-radius: 0;
  }
}
