@import 'colors';
@import 'normalize';
@import 'typography';
@import 'mixins';

body {
  @include flex-center;
  min-height: 100vh;
  flex-direction: column;
  background-color: $eggshell;
}

.container {
  background-color: $white;
  color: $wenge-brown;
  width: 100%;
  max-width: 750px;
  border-radius: 20px;
  margin: 5% 0;
  padding: 2.3em;
  font-family: 'Outfit', sans-serif;
  letter-spacing: .5px;
  line-height: 1.5;
  h1, h2 {
    font-family: 'YoungSerif', serif;
  }
  h2 {
    color: $nutmeg;
  }
  @media (max-width: 768px) {
    margin: 0;
    border-radius: 0;
  }
}

header {
  display: flex;
  flex-direction: column;
  gap: 1.5em;
  margin-bottom: 1.5em;

  img {
    border-radius: 10px;

    @media (max-width: 768px) {
      margin: -2.5em -2.5em 0 -2.5em;
      border-radius: 0;
    }
}

  .header--title {
    color: $dark-charcoal;
    margin: 0;
  }

  .header--text {
    margin: 0;
  }

  .card {
    background-color: $rose-white;
    border-radius: 10px;
    padding: .5em 1.5em;

    &--title {
      font-size: 1.1rem;
      color: $dark-raspberry;
    }

    &--list {
      padding: .4em;
      display: flex;
      flex-direction: column;
      gap: .5em;
      color: $dark-raspberry;

      &--text {
        display: inline-block;
        padding: 0 1em;
        color: $wenge-brown;
      }

      li {
        display: flex;
        align-items: center;

        &::before {
          content: '•';
          margin-right: .5em;
          font-size: 1.5rem;
          color: $dark-raspberry;
        }
      }
    }
  }
}

main {
  display: flex;
  flex-direction: column;
  gap: 1em;

  article {
    padding-bottom: 1em;
    border-bottom: 1px solid $light-gray;
  }

  .ingredients {

    &--list {
      color: $nutmeg;
      padding: .4em;
      display: flex;
      flex-direction: column;
      gap: .5em;

      &--text {
        display: inline-block;
        color: $wenge-brown;
        padding: 0 1em;
      }

      li {
        display: flex;
        align-items: center;

        &::before {
          content: '•';
          margin-right: .5em;
          font-size: 1.5rem;
          color: $nutmeg;
        }
      }
    }
  }

  .instructions {


    &--list {
      padding: .4em;
      display: flex;
      flex-direction: column;
      gap: 1em;
      color: $nutmeg;
      font-weight: $bolder;
      counter-reset: item;

      &--text {
        display: inline-block;
        padding: 0 1em;
        color: $wenge-brown;
        font-weight: $regular;
      }

      li {
        display: flex;
        align-items: flex-start;

        &::before {
          counter-increment: item;
          content: counter(item) '.';
          margin-right: .5em;
          color: $nutmeg;
        }
      }
  }
  }

  .nutrition {
    border-bottom: none;
    padding-bottom: 0;

    &--table {
      width: 100%;
      border-collapse: collapse;

      &--row {
        display: flex;
        padding: .5em 0;
        border-bottom: 1px solid $light-gray;

        th, td {
          position: relative;
          left: 1.5em;
          width: 50%;
          text-align: left;
        }

        th {
          font-weight: $regular;
        }
        td {
          font-weight: $bolder;
          color: $nutmeg;
        }

        &:last-child {
          border-bottom: none;
        }
      }
    }
  }
}
